# 환경 변수 예시
# 예시 템플릿이니 복사해서 사용하시고, 이곳에 직접 작성하면 안됩니다!!!!

# API
# VITE_API_BASE_URL=http://localhost:3000

# 카카오맵 API Key
# VITE_KAKAO_MAP_APP_KEY=your_kakao_map_app_key_here

# MSW (개발 시 API 모킹, 설정 시에만 worker 동작)
# VITE_MSW_ENABLED=true

# 기타 환경 변수
# VITE_SENTRY_DSN=
# VITE_GA_TRACKING_ID=
